@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
ion-slide {
	height: 100vh;
	flex-direction: column;
}
ion-grid{
	margin: 0;
	padding: 0;
	width: 100vw;
}
.firstView{
	.detalles{
		padding-top: 2.5vh;
		font-size: 3vh;
		color: white;
		text-shadow: -0.15vh 0 black, 0 0.15vh black, 0.15vh 0 black, 0 -0.15vh black;
		text-align: right;
	}

	.iconDetails{
		padding-top: 2vh;
		width: 3vh;
		height: auto;
		text-align: left;
	}

	.Si{
		padding-top: 3vh;
		font-size: 1vh;
		color: white;
		text-shadow: -0.15vh 0 black, 0 0.15vh black, 0.15vh 0 black, 0 -0.15vh black;
		text-align: left;
	}
	.preload{
		height: calc(((100vh)/18));
	}
	.defaultSize{
		height: calc(((100vh*12)/18)/17);
	}
	.activeRow{
		height: calc((100vh/18)*6);
	}
}
.secondView{

	background: linear-gradient(180deg, rgb(141, 0, 0), #ff4500 , #ffe97d, #bfdcfb , #68b3fb, #1b52b4);
	background-size: 2000% 2000%; 
	-webkit-animation: moveGradient 10s ease infinite;
	-moz-animation: moveGradient 10s ease infinite;
	-o-animation: moveGradient 10s ease infinite;
	animation: moveGradient 10s ease infinite;
	@keyframes moveGradient { 
		0%{background-position:100% 0%}
		50%{background-position:0% 100%}
		100%{background-position:100% 0%}
	}
	@-webkit-keyframes moveGradient {
		0%{background-position:100% 0%}
		50%{background-position:0% 100%}
		100%{background-position:100% 0%}
	}
	@-moz-keyframes moveGradient {
		0%{background-position:100% 0%}
		50%{background-position:0% 100%}
		100%{background-position:100% 0%}
	}
	@-o-keyframes moveGradient {
		0%{background-position:100% 0%}
		50%{background-position:0% 100%}
		100%{background-position:100% 0%}
	}

  	.forecast{
  		color: grey;
  		font-size: 2vh;
  		box-shadow: -2px 18px 0px -17px rgba(255,250,250,1);
  		height: calc(((100vh))/5);
  		.forecastText{
  			font-size: 20px;
  			text-transform: capitalize;
  			text-align: center;
  			margin-top: 5vh;
  			color: #ffffff;
  			text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  		}
  	}
  	.forecastIcon{
  		margin-top: 2.7vh;
  		margin-left: 2.5vh;
  		width: 10vh;
  		height: auto;
  	}
  }

  .secondView > div {
  	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGCQBOLnQAwGjDAGNgGwSgwVAE+2AgXahLM7AAAAAElFTkSuQmCC) repeat; 
  }

  .tiempo{
  	padding-top: 4.8vh;
  	font-size: 15vh;
  	color: white;
  	text-shadow: -0.15vh 0 black, 0 0.15vh black, 0.15vh 0 black, 0 -0.15vh black;
  	text-align: right;
  }


  .icono{
  	padding-top: 3vh;
  	width: 20vh;
  	height: auto;
  }





  #ochoNEG{
  	background: var(--clima--ocho--neg);
  }
  #sieteNEG{
  	background: var(--clima--siete--neg);
  }
  #seisNEG{
  	background: var(--clima--seis--neg);
  }
  #cincoNEG{
  	background: var(--clima--cinco--neg);
  }
  #cuatroNEG{
  	background: var(--clima--cuatro--neg);
  }
  #tresNEG{
  	background: var(--clima--tres--neg);
  }
  #dosNEG{
  	background: var(--clima--dos--neg);
  }
  #unoNEG{
  	background: var(--clima--uno--neg);
  }
  #cero{
  	background: var(--clima--cero);
  }
  #uno{
  	background: var(--clima--uno);
  }
  #dos{
  	background: var(--clima--dos);
  }
  #tres{
  	background: var(--clima--tres);
  }
  #cuatro{
  	background: var(--clima--cuatro);
  }
  #cinco{
  	background: var(--clima--cinco);
  }
  #seis{
  	background: var(--clima--seis);
  }
  #siete{
  	background: var(--clima--siete);
  }
  #ocho{
  	background: var(--clima--ocho);
  }
  #nueve{
  	background: var(--clima--nueve);
  }
