<ion-content>

  <ion-slides (ionSlidesDidLoad)="slideController()" (ionSlideWillChange)="slideController()">

    <ion-slide>
      <ion-grid class="firstView">
        <ion-row class="preload" id='nueve'></ion-row>
        <ion-row class="preload" id="ocho"></ion-row>
        <ion-row class="preload" id="siete"></ion-row>
        <ion-row class="preload" id="seis"></ion-row>
        <ion-row class="preload" id="cinco"></ion-row>
        <ion-row class="preload" id="cuatro"></ion-row>
        <ion-row class="preload" id="tres"></ion-row>
        <ion-row class="preload" id="dos"></ion-row>
        <ion-row class="preload" id="uno"></ion-row>
        <ion-row class="preload" id="cero"></ion-row>
        <ion-row class="preload" id="unoNEG"></ion-row>
        <ion-row class="preload" id="dosNEG"></ion-row>
        <ion-row class="preload" id="tresNEG"></ion-row>
        <ion-row class="preload" id="cuatroNEG"></ion-row>
        <ion-row class="preload" id="cincoNEG"></ion-row>
        <ion-row class="preload" id="seisNEG"></ion-row>
        <ion-row class="preload" id="sieteNEG"></ion-row>
        <ion-row class="preload" id="ochoNEG"></ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class="secondView">
        
        <div  *ngFor="let data of pronostico.daily.data; let i=index">
          <ion-row class="forecast" *ngIf="i<6 && i>=1">
            <ion-col class="forecastText">
              {{parseDate(data.time) | date:'EEEE d'}}
            </ion-col>
            <ion-col class="forecastText">
              {{parseTemperature(data.temperatureMin)}}° / {{parseTemperature(data.temperatureMax)}}°
            </ion-col>
            <ion-col>
              <ion-img class="forecastIcon" src="assets/icon/forecast/{{data.icon}}.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>